@model KGTest.Models.Order
@{
    ViewBag.Title = "Add Order";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Add order</h2>
@{Html.BeginForm("AddOrder", "Home", FormMethod.Post); }
<div class="form-group">
    <label>Number</label>
    <input class="form-control" name="number" value="@Model.Number" required>
</div>
<div class="form-group">
    <label>Manager</label>
    <select class="form-control" name="manager" value="@Model.Manager" required>
        <option value="Иванов">Иванов</option>
        <option value="Петров">Петров</option>
        <option value="Сидоров">Сидоров</option>
    </select>
</div>
<div class="form-group">
    <label>Shipment Date</label>
    <input class="form-control" type="datetime-local" name="unloadDate" value="@Model.UnloadDate">
</div>
<div class="form-group">
    <label>Comment</label>
    <input class="form-control" name="comment" value="@Model.Comment">
</div>
<input type="submit" class="btn btn-primary" value="Add" />
@{Html.EndForm();}